:root {
    --gray: #eeeeee;
    --cyan: #1b90ad;
    --cyan-hover: #64b2c5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--gray);
    font-size: 0.9rem;
}

nav img {
    width: 90px;
}

nav button {
    width: 90px;
}

nav .btnAreaCliente {
    display: flex;
    
    border-radius: 3px;

    color: var(--gray);
    border: 1px solid var(--cyan);
    
    background: rgb(29,119,138);
    background: linear-gradient(0deg, rgba(29,119,138,1) 0%, rgba(29,119,138,1) 52%, rgba(44,154,177,1) 52%, rgba(44,154,177,1) 100%);
    transition: all 1s;
}

nav .btnAreaCliente:hover {
    color: var(--gray);
    background: rgb(29,119,138);
    background: linear-gradient(0deg, rgba(44,154,177,1) 0%, rgba(44,154,177,1) 52%, rgba(29,119,138,1) 52%, rgba(29,119,138,1) 100%);
}

nav .btnAreaCliente .btnAreaCliente-icon {
    padding: 7px 10px;
    border-right: 1px solid var(--cyan);
}

nav .btnAreaCliente .btnAreaCliente-text {
    padding: 7px 10px;
}

.btnAreaCliente-link {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    padding: 10px 15px;
    color: var(--cyan);
    text-decoration: none;
    transition: 0.3s;
    border-radius: 3px;

}

nav ul li a.active {
    padding: 10px 25px;
    box-shadow: 2px 2px 5px 0px #0000004f;
    border: 1px solid var(--cyan);
}

nav ul li a:hover {
    color: var(--gray);
    background: var(--cyan);
}


.menu-btn {
    display: none;
}

/* Estilos para telas pequenas */
@media screen and (max-width: 977px) {
    
    html {
        font-size: 87.5%;
        /*16 -> 100%*/
        /*14 -> x*/
        /*14 * 100 / 16*/
        /*=87,5*/
    }
    nav {
        padding: 7px;
        background-color: var(--gray);
        font-size: 0.9rem;
    }

    
    nav ul li {
        margin: 0 5px;
    }
    
}

/* Estilos para telas pequenas */
@media screen and (max-width: 768.99px) {
    
    html {
        font-size: 87.5%;
        /*16 -> 100%*/
        /*14 -> x*/
        /*14 * 100 / 16*/
        /*=87,5*/
    }

    .menu-btn {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav ul.open {
        display: block;
    }

    nav .btnAreaCliente {
        display: none;
    }
    
}


/*
320px — 480px: dispositivos móveis
481px — 768px: iPads, tablets
769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs
*/