.img_logo_header {
    width: 80px;
}


.nav-link{
    padding: 10px 15px;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--cyan) !important;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 3px;

}

.nav-link.active {
    padding: 10px 25px;
    box-shadow: 2px 2px 5px 0px #0000004f;
    border: 1px solid var(--cyan);
}


.nav-link:hover {
    color: var(--white) !important;
    background: var(--cyan);
}


.btnAreaCliente {
    display: flex;
    color: var(--white);
    
    border-radius: 3px;

    border: 1px solid var(--cyan);
    
    background: rgb(29,119,138);
    background: linear-gradient(0deg, rgba(29,119,138,1) 0%, rgba(29,119,138,1) 52%, rgba(44,154,177,1) 52%, rgba(44,154,177,1) 100%);
}

.btnAreaCliente:hover {
    color: var(--white);
    background: rgb(29,119,138);
    background: linear-gradient(0deg, rgba(44,154,177,1) 0%, rgba(44,154,177,1) 52%, rgba(29,119,138,1) 52%, rgba(29,119,138,1) 100%);
}

.btnAreaCliente .btnAreaCliente-icon {
    padding: 3px 10px;
    border-right: 1px solid var(--cyan);
}

.btnAreaCliente .btnAreaCliente-text {
    padding: 3px 10px;
}